@model App.ViewModels.RaceListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1> CRASH RACE TROPHY </h1>

<h2> Next race in:  </h2>

<section class="carousel"></section>
    <h2> Some other races: </h2>

    <ul class="carousel-races"> </ul>
    
@foreach (var item in Model.RaceList)
{
    @* int index = 0; *@
    <li class="carousel-race">
        <div class="card-race">
            <h3 class="card-race-title">
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
            <p> Date :</p>
            <p> @item.EventDate.ToShortDateString() </p>
        </div>
    </li>

    @* @if (index >= 3)
        break;
    else    
        index += 1; *@
}

<div>
    <a href="/Races"> See all races</a>
</div>